@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 200vh;
    background: linear-gradient(rgb(247, 59, 238),rgb(151, 0, 128));
    position: relative;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-family: sans-serif;
    
}
header .logo{
    color:black;
    font-weight: 900;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 30px;
}
header li a{
    padding: 6px 12px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 30px;
}
header li a:hover,header li a.active{
    background: #1aff00;
    color: #ffffff;
}
.contain{
    width: 100%;
    height: 100vh;
    display: inline;
}
#train{
    position:absolute;
    width:25%;
    transform: translate(-320px);
    z-index: 50;
    animation: train 15s linear infinite;
    filter: saturate(50%);
    
}
@keyframes train{
    0%{
        transform: translateX(-750px) translateY(-250px);
    }
    100%{
        transform: translateX(1150px) translateY(840px);
    }
}
#train1{
    position:absolute;
    width:25%;
    transform: translate(160px);
    filter: saturate(150%);
    z-index: 51;
    animation: train1 15s linear infinite;

}
@keyframes train1{
    0%{
        transform: translateX(1800px) translateY(-950px);
    }
    100%{
        transform: translateX(-1050px) translateY(700px);
    }
}
 
img.track{
    width: 20%;
    height: 20%;
}
#track1{
    position: relative;
}    
#track2{
    position: relative;
    transform: translateY(151px) translateX(-48px);
}
#track3{
    position: relative;
    transform: translateY(900px) translateX(950px);
}
#track4{
    position: relative;
    transform: translate(380px,750px);
 }
 #track5{
    position: relative;
    transform: translate(-260px,-458px);
 }
#track6{
    position: relative;
    transform: translate(213px,-7px);
 }
 #track7{
    position: relative;
    transform: translate(165px,142px);
 }
 #track8{
    position: relative;
    transform: translate(118px,293px);
 }
 #track61{
    position: relative;
    transform: translate(-50px,-150px);
 }
 #track31{
    position: relative;
    transform: translate(-99px,7px);
 }
 #track41{
    position: relative;
    transform: translate(-147px,-143px);
 }
 #track11{
    position: relative;
    transform: translate(1035px,-293px);
 }
 #track21{
    position: relative;
    transform: translate(950px,-423px);
 }
 #track71{
    position: relative;
    transform: translate(900px,-880px);
 }
 #track81{
    position: relative;
    transform: translate(660px,-920px);
 }
 .m{
    position:relative;
    height: 55px;
    width:35px ;
    filter: saturate(500%);
 }
 #m1{
    transform: translate(315px,-200px);
 }
 #m2{
    transform: translate(805px,-1100px);
 }
 #m3{
    transform: translate(1570px,-500px);
 }
 #m4{
    transform: translate(1250px,-1200px);
 }
 #m5{
    transform: translate(1350px,-900px);
 }
 #m6{
    transform: translate(1500px,-120px);
 }
 #m7{
    transform: translate(115px,-850px);
 }

 .P{
    width: 15%;
    height: 10%;
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
 }
 #V1{
    transform: translate(700px,-1050px);
    border-radius: 8%;
 }

 .P1{
    width: 18%;
    height: 11%;
    position: absolute;
    border: 3px solid rgb(255, 255, 255);

 }
 #R,#R1{
    transform: translate(200px,-150px);
     border-radius: 10%; 
  
 }
 #R{
    filter: blur(0px);
}
.P2{
    width: 15%;
    height: 8%;
    position: absolute;
    border: 3px solid rgb(255, 255, 255);

 }
 #B,#B1{
    transform: translate(1470px,-450px);
     border-radius: 10%; 
  
 }
 
#L{
    transform: translate(1150px,-1150px);
    border-radius: 8%;
 }
 #K{
    transform: translate(1250px,-850px);
    border-radius: 8%;
 }
 #Y{
    transform: translate(1400px,-80px);
     border-radius: 10%; 
 }
 #I{
    transform: translate(25px,-800px);
     border-radius: 10%; 
 }

