*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
#sec{
    position: relative;
}
#st{
    width: 100%;
    position: absolute;
}
#ima{
width:630px;
position: relative;
margin-top: 40px;        
animation: train 7s linear;
filter: contrast(150%);
margin-left: 860px;
}
@keyframes train{
0%{
transform: scale(0);
}
25%{
    transform: scale(0);
}
50%{
    transform: scale(0.5);
}
100%{
transform: scale(1);
}
}
#book{
position: relative;
transform: translate(100px,-400px);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    
}
header .logo{
    color:white;
    font-weight: 900;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 30px;
}
header li a{
    padding: 6px 8px;
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
}
header li a:hover,header li a.active{
    background: #1aff00;
    color: #ffffff;
}
#button{
    display: inline-block;
    text-decoration: none;
    padding: 8px 15px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}